body{
    background-color: #EAEAEA;
}

.time{
    font-size: .8em;
}

.from{
    font-weight: bold;
}

ul#messages{
    list-style: none;
    padding: 0;
    margin: 0;
}

li.date{
    padding: 8px;
    font-weight: bold;
    background-color: #EBDCC1;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

li.message{
    padding: 4px;
    border-bottom: 1px solid #DADADA;
    background-color: #F5F5F5;
}